Inventory updating automation.json
{
  "name": "Inventory updating automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c0d36034-a8a5-4713-a547-77dfd441b1fe",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SVEZiouu6sXx_VxW99ZSV8CGYhLIB47c-qis5C2GAHo",
          "mode": "list",
          "cachedResultName": "Inventory_Data_Sample",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SVEZiouu6sXx_VxW99ZSV8CGYhLIB47c-qis5C2GAHo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SVEZiouu6sXx_VxW99ZSV8CGYhLIB47c-qis5C2GAHo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "7c0f3eeb-3b68-49c1-8c8a-538170adf253",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iiqBjuQ6WLVHe2lt",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ab3d53d0-9b20-42a0-a7fc-e569c82b9f61",
              "leftValue": "={{ $json.Stock }}",
              "rightValue": "={{ $json.Threshold }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "01314698-a608-44af-b817-5f553f67d9e9",
      "name": "Filter"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "b7964e2f-451a-43a9-863d-8a72b2a75eef",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Act as a deligent, professional Inventory Control Assistant for a restaurant supplier.\nYour task is to generate and send one concise alert message to Gmail listing all items where stock is below the threshold.\n\nData:\n{{ JSON.stringify($json) }}\n\nOutput format:\nStart with : \"ALERT ALERT - LOW STOCK ALERT:\"\nThen list each item on a new line in this format:\n- [Item Name] : [Stock] left (need [Threshold]). Recommend reordering from [Supplier] to maintain adequate stock levels.\n\nRules:\n- If stock is 0, say \"Out of Stock\" instead of \"[Stock] left\"\n- Do not add summaries, explanations, or closing sentences.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        832,
        0
      ],
      "id": "b4bbb78b-525c-4724-9fcc-2b76d3aba48c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        208
      ],
      "id": "11c9eaaf-11fb-439c-bbf9-7a7420486398",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ljCOeQ1PX5dA4XHM",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$execution.id}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        848,
        208
      ],
      "id": "b32700e7-e6ac-425b-83d3-e625b94c7e1c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "ruchithabatchu2506@gmail.com",
        "subject": "Low Stock Alert",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        992,
        208
      ],
      "id": "fe4a3a1e-0eb0-4c4e-8c53-c8e56bf53264",
      "name": "Send a message in Gmail",
      "webhookId": "09d10ac7-b964-486e-acd0-5c7b9888322d",
      "credentials": {
        "gmailOAuth2": {
          "id": "RB5u5qn3GTvqo9I0",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "93b9f62e-31d0-450b-b555-a43eb693dc27",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10c6ef16afdbb4174e4d7c43ee1a6c289e8d31d8b91c4b80c3b1976d9d58c34f"
  },
  "id": "uuCc1v3acKGGRuBz",
  "tags": []
}